<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bin<i@binss.me>">
    <link href="/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/js/main.js" charset="utf-8"></script>
    <title>binsite</title>
</head>

<body>
    <h1>班长是个鸡公</h1>
    <form action="/" method="post">
        <p>name: <input type="text" name="name" /></p>
        <p>password: <input type="password" name="password" /></p>
        <input type="submit" value="Submit" />
    </form>
    <img src="/images/girl.jpg" alt="班长他女神"/>
</body>
</html>
